<!-- Angled Section Divider (Reverse) -->
{% assign divider = site.data.theme.angle_dividers[include.type] | default: site.data.theme.angle_dividers.gray_to_white %}
<div class="relative h-16 md:h-20 overflow-hidden {{ divider.bg_from }} {{ divider.dark_from }}">
  <!-- Shadow layer for depth -->
  <div class="absolute inset-0 bg-gradient-to-t from-transparent via-black/5 to-transparent"></div>
  
  <!-- Main divider -->
  <svg class="absolute top-0 w-full h-full drop-shadow-lg" preserveAspectRatio="none" viewBox="0 0 1440 120" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 120L1440 0V120H0Z" class="{{ divider.fill }} {{ divider.dark_fill }}" />
  </svg>
  
  <!-- Highlight layer -->
  <svg class="absolute top-0 w-full h-full opacity-20" preserveAspectRatio="none" viewBox="0 0 1440 120" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 120L1440 0V120H0Z" fill="url(#divider-gradient-reverse)" />
    <defs>
      <linearGradient id="divider-gradient-reverse" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color:rgb(99,102,241);stop-opacity:0" />
        <stop offset="50%" style="stop-color:rgb(99,102,241);stop-opacity:0.3" />
        <stop offset="100%" style="stop-color:rgb(99,102,241);stop-opacity:0" />
      </linearGradient>
    </defs>
  </svg>
</div>
