<!-- Angled Section Divider -->
{% assign divider = site.data.theme.angle_dividers[include.type] | default: site.data.theme.angle_dividers.white_to_gray %}
<div class="relative h-16 md:h-20 overflow-hidden {{ divider.bg_from }} {{ divider.dark_from }}">
  <svg class="absolute bottom-0 w-full h-full" preserveAspectRatio="none" viewBox="0 0 1440 120" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0L1440 120H0V0Z" class="{{ divider.fill }} {{ divider.dark_fill }}" />
  </svg>
</div>
