<!-- Angled Section Divider (Reverse) -->
{% assign divider = site.data.theme.angle_dividers[include.type] | default: site.data.theme.angle_dividers.gray_to_white %}
<div class="relative h-16 md:h-20 overflow-hidden {{ divider.bg_from }} {{ divider.dark_from }}">
  <svg class="absolute top-0 w-full h-full" preserveAspectRatio="none" viewBox="0 0 1440 120" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 120L1440 0V120H0Z" class="{{ divider.fill }} {{ divider.dark_fill }}" />
  </svg>
</div>
